<!DOCTYPE html>
<html>
<head>
    <title>Data information</title>
    <meta charset="utf-8" />

    <!-- Scripts section -->
    <script src="../Scripts/Libs/Angular/angular.min.js"></script>
    <script src="../Scripts/fileSystemBrowser.module.js"></script>
    <script src="../Scripts/fileSystemBrowser-data.service.js"></script>
    <script src="../Scripts/fileSystemBrowser.controller.js"></script>
    <!-- End scripts section -->
    <link rel="stylesheet" href="../Styles/Libs/bootstrap.min.css">
</head>
<body>
    <div class="row" ng-app="fileSystemBrowserModule">
        <div class="col-md-2"></div>
        <div class="col-md-8" ng-controller="fileSystemBrowserController as fsc">
            <!-- File counter table -->
            <p ng-if="fsc.calculationLoading">Calculating. Please, stand by.</p>
            <table class="table table-striped">
                <tr>
                    <th>Under 10 mb</th>
                    <th>10 to 50 mb</th>
                    <th>Over 100 mb</th>
                </tr>
                <!-- Show dash while data's loading -->
                <tr ng-if="fsc.calculationLoading">
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                <!-- This will appear after data has loaded -->
                <tr>
                    <th>{{fsc.fileCounter.FileUnder10MbCounter}}</th>
                    <th>{{fsc.fileCounter.File10To50MbCounter}}</th>
                    <th>{{fsc.fileCounter.FileOver100MbCounter}}</th>
                </tr>
            </table>            

            <!-- File explorer -->
            <p ng-if="fsc.directoryLoading">Loading. Please, stand by.</p>
            <p><b>Current path:</b> {{fsc.currentPath}}</p>
            <table>
                <tr>
                    <td><button class="btn btn-link" ng-click="fsc.grabAndCount(fsc.currentPath, fsc.tokenBack)" ng-disabled="fsc.currentPath == 'root'">...</button></td>
                </tr>
                <tr ng-repeat="d in fsc.directoryContainer.DirectoryList">
                    <td><button class="btn btn-link" ng-click="fsc.grabAndCount(d.FullPath, fsc.tokenOk)">{{d.OriginalPath}}</button></td>
                </tr>
                <tr ng-repeat="f in fsc.directoryContainer.FileList">
                    <td><p>{{f.OriginalPath}}</p></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>