<!DOCTYPE html>
<html>
<head>
    <title>Data information</title>
    <meta charset="utf-8" />

    <!-- Scripts section -->
    <script src="../Libs/Angular/angular.min.js"></script>
    <script src="../Scripts/fileSystemBrowser.module.js"></script>
    <script src="../Scripts/fileSystemBrowser-data.service.js"></script>
    <script src="../Scripts/fileSystemBrowser.controller.js"></script>
    <!-- End scripts section -->
</head>
<body>
    <div ng-app="fileSystemBrowserModule">
        <div ng-controller="fileSystemBrowserController as fsc">
            <div ng-if="fsc.dataLoading">Please, stand by.</div>
            <table>
                <tr>
                    <th>Under 10 mb</th>
                    <th>10 to 50 mb</th>
                    <th>Over 100 mb</th>
                </tr>
                <tr ng-if="fsc.dataLoading">
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                <tr>
                    <th>{{fsc.fileCounter.FileUnder10MbCounter}}</th>
                    <th>{{fsc.fileCounter.File10To50MbCounter}}</th>
                    <th>{{fsc.fileCounter.FileOver100MbCounter}}</th>
                </tr>
            </table>            

            <p>Current path: {{fsc.currentPath}}</p>
            <table>
                <tr>
                    <td><button ng-click="fsc.grabAndCount('back')">...</button></td>
                </tr>
                <tr ng-repeat="d in fsc.directoryContainer.DirectoryList">
                    <td><button ng-click="fsc.grabAndCount(d.FullPath)">{{d.OriginalPath}}</button></td>
                </tr>
                <tr ng-repeat="f in fsc.directoryContainer.FileList">
                    <td>{{f.OriginalPath}}</td>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>
